canvas {
  border: 2px solid #c3c3c3;
  border-color: #99ff66;
  min-width: 2%;
  max-width: 100%;
}

.span1 {
  color: #f2f2f2;
}

.span2 {
  color: #ff5757;
}

h2 {
  font-family: opensans-regular-webfont, Arial, sans-serif;
  font-weight: bold;
  color: #f2f2f2;
}

h1 {
  font-family: opensans-bold-webfont, Arial, sans-serif;
  font-style: normal;
  font-weight: bolder;
  font-size: 45px;
  color: #99ff66;
}

.inputFile {
  font-family: opensans-bold-webfont, Arial, sans-serif;
  color: #f2f2f2;
}

body {
  background-color: #262626;
  text-align: center;
}

img {
  width: 400px;
  min-width: 2%;
  max-width: 100%;
}